@import "shared/scss/abstract/mixin";

.card {
  border-radius: 4px !important;
}

.Standings {
  &-img {
    width: 24px;
    height: 24px;
  }
}

.Team {
  &-img {
    @include mobile() {
      height: 56px;
      width: auto;
    }

    @include tablet() {
      height: 76px;
      width: auto;
    }

    @include desktop() {
      height: 86px;
      width: auto;
    }

    @include widescreen() {
      height: 96px;
      width: auto;
    }
  }
}

.Table {
  &-responsive {
    overflow-x: auto;
  }
}

.Team {
  cursor: pointer;
}

.Modal {
  &-team {
    &.modal {
      border-radius: 4px;
      max-width: 280px;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");
@import "materialize-css/sass/materialize.scss";
@import "shared/scss/abstract/spacing";
